{
        "nodes":[
                {
                        "mac":[
                        "{{ host1_pxe_mac }}"
                        ],
                        "disk":"{{ host1_disk_size_GB }}",
                        "arch":"{{ host1_arch }}",
                        "pm_type":"{{ host1_pm_type }}",
                        "pm_user":"{{ host1_pm_user }}",
                        "pm_password":"{{ host1_pm_password }}",
                        "pm_addr":"{{ host1_pm_addr }}"
                },
                {
                        "mac":[
                        "{{ host2_pxe_mac }}"
                        ],
                        "disk":"{{ host2_disk_size_GB }}",
                        "arch":"{{ host2_arch }}",
                        "pm_type":"{{ host2_pm_type }}",
                        "pm_user":"{{ host2_pm_user }}",
                        "pm_password":"{{ host2_pm_password }}",
                        "pm_addr":"{{ host2_pm_addr }}"
                }
                ]
}

